<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking System||Contact us</title>
    <!--Css Script-->
    <link rel="stylesheet" href="/css/ParkingSystemContactUs.css">

    <!--Bootstrap Scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <!--Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@500;600&family=Alegreya&family=Brawler&family=Caladea:ital@0;1&family=Enriqueta:wght@400;500&family=Gelasio:ital@0;1&family=Headland+One&family=Lora:ital@1&family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
</head>
<script>
document.addEventListener("DOMContentLoaded", function()
{
        window.addEventListener('scroll', function()
        {
                if (window.scrollY > 100)
                {
                document.getElementById('navbar_top').classList.add('fixed-top');

              // add padding top to show content behind navbar
              navbar_height = document.querySelector('.navbar').offsetHeight;
              document.body.style.paddingTop = navbar_height + 'px';
                }
                else
                {
                   document.getElementById('navbar_top').classList.remove('fixed-top');
                  // remove padding top from body
                  document.body.style.paddingTop = '0';
               }
      });
});
</script>
<body>
  <div class="container-fluid container-1">
    <header>
      <h1>Multilevel Parking System</h1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark" id="navbar_top" >
      <div class="container-fluid">
        <img class="logo" src="/images/circle-cropped.png" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link " href="ParkingSystemHome">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="ParkingSystemOurVision">Our Vision</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ParkingSystemAboutUs">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active " href="ParkingSystemContactUs">Contact us</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link  ml-auto LoginButton" href="ParkingSystemLogin">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

    <main>

      <div class="row g-5 form-part1">
        <div class="col-md-5 col-lg-6 ">
          <h3 class="mb-4 contact-heading ">Contact Us</h3>
          <p class="contact-txt">
            We'd Love to Hear From You, Please Drop Us Your Message If You Have Any Query.
          </p>
          <hr class="my-4" />
          <form  action="mailto:abc@gmail.com" method="post" enctype="text/plain">
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" name=" First Name" required>

              </div>

              <div class="col-sm-6">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastName" name=" Last Name"  placeholder="" value="" required>

              </div>


              <div class="col-12">
                <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                <input type="email" class="form-control" id="email" name="E-mail"  placeholder="you@example.com" required>
              </div>

              <div class="col-12">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address"  name="Address" placeholder="1234 Main St" required>

              </div>

              <div class="col-12">
                <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
              </div>

              <div class="col-md-5 mb-3">
                <label for="country" class="form-label">Country</label>
                <select class="form-select"name=" Country"  id="country" required>
                  <option value="">Choose...</option>
                  <option>India</option>
                </select>

              </div>

              <div class="col-md-4 mb-3">
                <label for="state" class="form-label">State</label>
                <select class="form-select" name="State" id="state" required>
                  <option value="">Choose...</option>
                  <option>Indore</option>
                  <option>Ujjain</option>
                  <option>Dewas</option>
                  <option>Barwani</option>
                  <option>Bhopal</option>
                  <option>Gwalior</option>
                  <option>Dhar</option>
                </select>

              </div>

              <div class="col-md-3 mb-3 ">
                <label for="zip" class="form-label">Zip</label>
                <input type="text" class="form-control"  name="Zip" id="zip" placeholder="" required>

              </div>
            </div>

            <div class="form-check ">
              <input type="checkbox" class="form-check-input" id="save-info">
              <label class="form-check-label" for="save-info">Save this information for next time</label>
            </div>

            <hr class="my-4">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Send My Message</button>
          </form>
        </div>
      </div>

<!--footer section-->
<footer class="footer">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github footer-icon" viewBox="0 0 16 16">
    <path
      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-linkedin footer-icon" viewBox="0 0 16 16">
    <path
      d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
  </svg>
    <p class="mt-2 mb-3">&copy; Multilevel Parking System</p>
</footer>
</main>
</body>
</html>
